@page
@model RazorBoatApp2026.Pages.Boats.DeleteBoat2Model
@{
    ViewData["Title"] = "Delete boat #2";
}

<h1>Delete boat 2</h1>
<form method="post">
    <label>Boat Id</label>: @Model.DeleteBoat2.Id <br />
    <label>Boat Sailnumber</label>: @Model.DeleteBoat2.SailNumber<br />
    <label>Boat Year Of Construction</label>: @Model.DeleteBoat2.YearOfConstruction<br />
    <input type="submit" asp-page-handler="Delete" asp-route-sailNumber="@Model.DeleteBoat2.SailNumber" class="btn btn-danger" value="Delete boat" />
    <input type="submit" class="btn btn-warning" value="Cancel" />
</form>

